<% if @shops.empty? %>
  <p class="text-center">Create the first Shop in the Universe</h1>
<% end -%>

<div class="container">
  <h1 class="text-center m-3"><b>SHOPS</b></h1>
  <div class="d-flex justify-content-center my-4">
    <%= link_to 'Create a new shop', new_shop_path, class: "btn btn-outline-dark" %>
  </div>

  <% @shops.order(created_at: :desc).each do |shop| %>
    <div class=" border border-dark my-2 p-3">
      <div class="name-buttons d-flex justify-content-between align-items-center">
        <h1>
          <%= shop.name %>
        </h1>
        <%= render 'shared/links_shop', shop: shop %>
      </div>
      <%= render 'shared/opening_days', shop: shop %>
    </div>
  <% end -%>
</div>
