<div class="hours d-flex justify-content-center my-4">

  <div>
    <p><b><%= t "day.hours", locale: locale %> :&nbsp;</b></p>
  </div>

  <div class="weekdays d-flex flex-column">
    <% shop.opening_days.order(id: :asc).rotate(today).each_with_index do |day, i| %>

      <div class="weekday d-flex">

        <div class="col-4">
          <p><%= t("day.weekday.#{translated(day)}", locale: locale) %></p>
        </div>

        <div class="col-8" style="margin-right: 100px">
          <% if day.closed? %>
            <p><%= t "day.closed", locale: locale %></p>
          <% else %>
            <p><%= display_hours(day) %></p>
          <% end -%>

        </div>

      </div>

    <% end -%>
  </div>

</div>
