// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome.css";

// Your CSS partials
@import "components/index";

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.weekday:first-child {
    font-weight: bolder;
}

p {
  margin-bottom: 0;
  @media only screen and (max-width: 470px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

.name-buttons, .buttons, .name {
  margin-left: 20px;
  @media only screen and (max-width: 770px) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-weight: bolder;
    position: static;
  }
}
